<form ng-submit="performSearch(query)" class="input-group well" id="adv-search">
    <input type="text" class="form-control clearable" placeholder="Search for music!" ng-model="query" />

    <span id="searchclear" ng-class="{'hidden': query.length < 1 || !query }">
        <a class="clear fa fa-close" data-ng-click="query = '' "></a>
    </span>
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">

                <span
                    ng-class="{'fa fa-search':!search.inprogress, 'fa fa-spinner fa-spin':search.inprogress}"
                    aria-hidden="true"></span>
            </button>
        </div>
    </div>

</form>
<div class="col-xs-12" id="searchResults">
    <uib-tabset active="active" id="artistalbumtrack-tabs">
        <uib-tab index="0" heading="Static title">
            <uib-tab-heading>
                Tracks&nbsp;<span class="badge">{{search.results.tracks.length}}</span>
            </uib-tab-heading>
            <div class="row searchResult"
                 ng-class="{ 'spotify': track.uri.includes('spotify'), 'playing':search.playing[track.uri].inQueue }"
                 ng-repeat="track in search.results.tracks"
                 ng-click="search.playing[track.uri].inQueue ? $ctrl.openPlaylist() : play(track.uri)">
                <span class="badge playingIn"
                      ng-if="search.playing[track.uri].playingIn && search.playing[track.uri].playingIn > 1">Playing in {{search.playing[track.uri].playingIn}}</span>
                <span class="badge playingIn" ng-if="search.playing[track.uri].playingIn == 0">Playing Now!</span>
                <span class="badge playingIn" ng-if="search.playing[track.uri].playingIn == 1">Playing Next!</span>
                <h3>{{track.name}}</h3>
                <span>by <span ng-repeat="artist in track.artists">{{artist.name}}{{$last ? '' : ', '}}</span></span>
            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                Artists&nbsp;<span class="badge">{{search.results.artists.length}}</span>
            </uib-tab-heading>
            <div ng-class="{ 'spotify': track.uri.includes('spotify') }"
                 class="searchResult" ng-click=" browseTo(artist.uri) "ng-repeat="artist in search.results.artists">
                <img ng-if="search.results.images[artist.uri].length > 0" ng-src="{{search.results.images[artist.uri][search.results.images[artist.uri].length - 1].uri}}"/>
                <img ng-if="search.results.images[artist.uri].length == 0" ng-src="../resources/img/artistNoImage.svg"/>
                {{artist.name}}
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                Albums&nbsp;<span class="badge">{{search.results.albums.length}}</span>
            </uib-tab-heading>
            <div class="searchResult" ng-click=" browseTo(album.uri) " ng-repeat="album in search.results.albums">
                <img ng-if="search.results.images[album.uri].length > 0" ng-src="{{search.results.images[album.uri][search.results.images[album.uri].length - 1].uri}}"/>
                <img ng-if="search.results.images[album.uri].length == 0" ng-src="../resources/img/albumNoImage.svg"/>
                {{album.name}}
            </div>
        </uib-tab>
    </uib-tabset>
</div>